* {
    color: white;
}

.title {
    font-size: 70px;
    font-weight: 700;
    margin: auto;
    width: fit-content;
    margin-top: 100px;
    height: 30px;
}

.links {
    width: fit-content;
    margin: auto;
    margin-top: 200px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.links #button1,
.links #button2 {
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 10px;
}

.links #button1,
.links #button2 {
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 10px;
    transition: ease-in-out 100ms;
}

.links #button1 {
    background-color: white;
    color: black;
}

.links #button1:hover {
    background-color: black;
    color: white;
    outline: 1px solid white;
    cursor: pointer;
}

.links #button2 {
    background-color: black;
    color: white;
    outline: 1px solid white;
}

.links #button2:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}